In [11]:
from collections import defaultdict, OrderedDict
from datetime import datetime

import numpy as np
import pymongo
import pandas as pd
from sklearn.ensemble import IsolationForest
from sklearn.cluster import DBSCAN, KMeans, AgglomerativeClustering

In [12]:


class Settings:
    MONGODB_SERVER = "localhost"
    MONGODB_PORT = 27017
    MONGODB_DB = "beautiful_creature"
    MONGODB_INVESTOR_COLLECTION = "investors"
    MONGODB_PORTFOLIO_COLLECTION = "portfolios"

    def __getitem__(self, key):
        return getattr(self, key)


timestamp = datetime.now().strftime("%d-%m-%y")
settings = Settings()
connection = pymongo.MongoClient(
    settings['MONGODB_SERVER'],
    settings['MONGODB_PORT']
)
investor_collection_name = f"{settings['MONGODB_INVESTOR_COLLECTION']}_{timestamp}"
portfolio_collection_name = f"{settings['MONGODB_PORTFOLIO_COLLECTION']}_{timestamp}"
db = connection[settings['MONGODB_DB']]
investor_collection = db[investor_collection_name]
portfolio_collection = db[portfolio_collection_name]
investors = list(investor_collection.find({}))
investors = {i["UserName"]: i for i in investors}

In [13]:
portfols = list(portfolio_collection.find({}))

In [14]:
items = defaultdict(list)

In [15]:
for p in portfols:
    for i in p["items"]:
        if i["type"] == "Buying":
            items[i["company_ticker"]].append(round(float(i["invested"].replace("%", "")), 3))

In [16]:
stats = []
for item in items:
    item_stat = {"item_name": item, "count":len(items[item]),
                 "mean": np.mean(items[item]), "std": np.std(items[item])}
    stats.append(item_stat)

df = pd.DataFrame.from_records(stats)
df["std/mean"] = df["std"] / df["mean"]
df = df.set_index("item_name")
df = df.sort_values("count",ascending=False).head(50)
# i_forest = IsolationForest()
# df["score"] = i_forest.fit(df).score_samples(df)
# df.sort_values("score").head(10)

In [17]:
df = df.sort_values("count",ascending=False).sort_values("std/mean").head(20)
df["portfol_val"] = df["mean"] * 100 / df["mean"].sum()
df.sort_values("portfol_val",ascending=False)

           count      mean       std  std/mean  portfol_val
item_name
AMZN          49  3.425918  2.460996  0.718346     7.512148
AAPL          41  2.883902  1.555973  0.539537     6.323648
AMD           36  2.846944  1.569662  0.551350     6.242609
1810.HK       21  2.720000  1.554327  0.571444     5.964252
JD.US         24  2.412917  1.679081  0.695872     5.290899
DOYU          18  2.311667  1.454225  0.629081     5.068884
NVDA          28  2.287143  1.272486  0.556365     5.015109
DIS           29  2.282414  1.482618  0.649583     5.004740
TSLA          23  2.261739  1.637595  0.724043     4.959406
SQ            20  2.244000  1.606868  0.716073     4.920508
0968.HK       16  2.228750  1.382791  0.620433     4.887069
CSIQ          25  2.206400  0.914006  0.414252     4.838061
NIO           25  2.182800  1.346086  0.616679     4.786313
MELI          17  2.154118  1.392742  0.646549     4.723420
SE            18  2.033333  1.365841  0.671725     4.458571
PYPL          25  2.020000  1.488696  0.736978     4.429334
BYND          20  1.988500  1.253604  0.630427     4.360263
CRM           24  1.935833  1.406405  0.726511     4.244779
SEDG          25  1.742000  0.913512  0.524404     3.819753
TSM           15  1.436667  1.030131  0.717028     3.150236

In [18]:
a_portfols = []
for p in portfols:
    for i in p["items"]:
        if i["type"] == "Buying":
            a_portfols.append((p["investor_name"], float(i["value"].replace("%","")), i["company_ticker"]))

In [19]:
a_df = pd.DataFrame(data=a_portfols,columns=["investor","percent","ticker"])
a_df = a_df.pivot_table(index="investor", columns="ticker").fillna(0)
a_df["cluster"] = KMeans(n_clusters=5).fit_predict(a_df)
fields = ["Copiers","ActiveWeeks","WeeksSinceRegistration","DailyDD","WeeklyDD","RiskScore","Gain"]

for investor_name in a_df.index:
    for field in fields:
        a_df.loc[investor_name,field] = investors[investor_name][field]
a_df = a_df.drop("percent",axis=1)

In [23]:
# a_df.sort_values("Copiers",ascending=False).head(30)
a_df.sort_values(["cluster","Gain"],ascending=False).head(30)

,cluster,Copiers,ActiveWeeks,WeeksSinceRegistration,DailyDD,WeeklyDD,RiskScore,Gain
ticker,,,,,,,,
investor,,,,,,,,
balticseal,4,1340.0,53.0,99.0,-2.40,-2.99,3.0,17.15
chiay0327,4,760.0,53.0,236.0,-1.90,-2.52,3.0,10.05
myhungetoro,3,388.0,53.0,98.0,-2.09,-3.29,3.0,5.48
Isbelle,2,643.0,53.0,212.0,-3.72,-7.69,4.0,177.72
Samosaking,2,599.0,53.0,60.0,-4.34,-6.13,3.0,157.15
sgstjc,2,1431.0,53.0,85.0,-4.88,-8.51,4.0,146.61
fastrading,2,326.0,53.0,316.0,-4.09,-8.16,5.0,111.93
Conhoulihan,2,1125.0,53.0,273.0,-4.41,-8.43,6.0,105.79
MattewL,2,460.0,53.0,116.0,-4.82,-10.65,5.0,94.87
campervans,2,2155.0,53.0,589.0,-4.75,-6.93,5.0,93.27
RadimGoth,2,281.0,53.0,65.0,-4.38,-10.00,4.0,91.44
joaoguimaraes10,2,1316.0,53.0,64.0,-4.46,-8.36,5.0,89.76
MassimoTol,2,461.0,53.0,195.0,-4.56,-8.78,5.0,80.26
Aguero1010,2,1108.0,53.0,63.0,-4.26,-5.58,4.0,80.07
pino428,2,4964.0,53.0,86.0,-4.06,-4.94,3.0,73.10
kasperpatrick1,2,359.0,53.0,71.0,-4.66,-8.73,5.0,72.66
Monabel,2,1068.0,53.0,67.0,-4.20,-5.62,4.0,68.75
JamesBeadle,2,615.0,53.0,393.0,-3.09,-5.11,5.0,64.99
GreenbullInvest,2,8190.0,53.0,109.0,-3.93,-6.85,3.0,64.62
HarryH1993,2,2926.0,53.0,237.0,-4.75,-6.93,4.0,64.02
GreatCompanies,2,330.0,53.0,61.0,-3.36,-6.02,5.0,61.12
RobertMERC,2,4832.0,53.0,69.0,-2.99,-4.27,5.0,60.99
DavidePerina,2,1228.0,53.0,137.0,-4.67,-8.05,5.0,59.01
CanZhao,2,5956.0,53.0,230.0,-3.46,-6.74,5.0,58.87
ReturnInvest,2,3690.0,53.0,127.0,-3.69,-5.84,4.0,58.71
emge2116,2,2111.0,53.0,229.0,-4.59,-7.58,4.0,58.00
JeppeKirkBonde,2,27984.0,53.0,416.0,-2.85,-5.61,4.0,56.78
georgech89,2,648.0,53.0,117.0,-3.91,-6.20,5.0,53.28
Wesl3y,2,20089.0,53.0,328.0,-3.30,-6.01,5.0,53.04
copy_ark_invest,2,1608.0,53.0,73.0,-4.72,-11.36,5.0,52.64